<center><img src="https://github.com/DACSS-PreProcessing/Week_1_main/blob/main/pics/LogoSimple.png?raw=true" width="700"></center>

# Data Formatting in Python

Let me collect some data from the [web](https://en.wikipedia.org/wiki/List_of_freedom_indices):

In [419]:
import pandas as pd

wikiLink="https://en.wikipedia.org/wiki/List_of_freedom_indices" 
freedomDFs=pd.read_html(wikiLink, flavor='bs4',attrs={'class':'sortable'})
len(freedomDFs)

2

The one we need is the first one:

In [420]:
freedomDFs[0].head()

,Country,Freedom in the World 2024[16],Score change since 2023,Index of Economic Freedom 2024[17],Score,Press Freedom Index 2023[3],Score.1,Democracy Index 2023[18],Score.2
0,Finland,100.0,0,mostly free,76.3,good,87.94,full democracy,9.30
1,New Zealand,99.0,0,mostly free,77.8,satisfactory,84.23,full democracy,9.61
2,Sweden,99.0,-1,mostly free,77.5,good,88.15,full democracy,9.39
3,Norway,98.0,-2,mostly free,77.5,good,95.18,full democracy,9.81
4,Canada,97.0,-1,mostly free,72.4,satisfactory,83.53,full democracy,8.69

Let's keep it:

In [421]:
freedom=freedomDFs[0].copy()
freedom.head()

,Country,Freedom in the World 2024[16],Score change since 2023,Index of Economic Freedom 2024[17],Score,Press Freedom Index 2023[3],Score.1,Democracy Index 2023[18],Score.2
0,Finland,100.0,0,mostly free,76.3,good,87.94,full democracy,9.30
1,New Zealand,99.0,0,mostly free,77.8,satisfactory,84.23,full democracy,9.61
2,Sweden,99.0,-1,mostly free,77.5,good,88.15,full democracy,9.39
3,Norway,98.0,-2,mostly free,77.5,good,95.18,full democracy,9.81
4,Canada,97.0,-1,mostly free,72.4,satisfactory,83.53,full democracy,8.69

## The cleaning process

### The headers

We need to clean before formatting.

In [422]:
# check headers
freedom.columns

Index(['Country', 'Freedom in the World 2024[16]', 'Score change since 2023',
       'Index of Economic Freedom 2024[17]', 'Score',
       'Press Freedom Index 2023[3]', 'Score.1', 'Democracy Index 2023[18]',
       'Score.2'],
      dtype='object')

The plan here is:

1. No footnotes
2. No year
3. No trailing/leading spaces
4. Title case for all names
5. No unwanted columns (third column)
6. No repeated columns names nor repeated words among them
7. Names with no spaces

This will solve the first four requests:

In [423]:
patternFootnotes=r'\[.*\]'
patternYear=r'\d{4}'
pattern_NoYear_NoFootns=r'\[.*\]|\d{4}' # this shortens coding

freedom.columns=freedom.columns.str.replace(pattern_NoYear_NoFootns,"",regex=True).str.strip().str.title()
freedom.columns

Index(['Country', 'Freedom In The World', 'Score Change Since',
       'Index Of Economic Freedom', 'Score', 'Press Freedom Index', 'Score.1',
       'Democracy Index', 'Score.2'],
      dtype='object')

This will solve the fifth one:

In [424]:
freedom.drop(freedom.columns[2], axis=1,inplace=True)
freedom.columns

Index(['Country', 'Freedom In The World', 'Index Of Economic Freedom', 'Score',
       'Press Freedom Index', 'Score.1', 'Democracy Index', 'Score.2'],
      dtype='object')

This will solve the last two ones:

In [425]:
freedom.columns=freedom.columns.str.replace(r"\s|Index|Of|Freedom|In|The","",regex=True)
newNamesForScores={bad:better for bad,better in zip(freedom.columns[3::2],freedom.columns[2::2]+'_Score')}
freedom.rename(columns=newNamesForScores,inplace=True)
freedom

,Country,World,Economic,Economic_Score,Press,Press_Score,Democracy,Democracy_Score
0,Finland,100.0,mostly free,76.3,good,87.94,full democracy,9.30
1,New Zealand,99.0,mostly free,77.8,satisfactory,84.23,full democracy,9.61
2,Sweden,99.0,mostly free,77.5,good,88.15,full democracy,9.39
3,Norway,98.0,mostly free,77.5,good,95.18,full democracy,9.81
4,Canada,97.0,mostly free,72.4,satisfactory,83.53,full democracy,8.69
...,...,...,...,...,...,...,...,...
192,North Korea,3.0,repressed,2.9,very serious,21.72,authoritarian,1.08
193,Turkmenistan,2.0,repressed,46.3,very serious,25.82,authoritarian,1.66
194,South Sudan,1.0,NaN,—,difficult,50.62,NaN,—
195,Syria,1.0,NaN,—,very serious,27.22,authoritarian,1.43
196,Palestine,NaN,NaN,—,very serious,37.86,authoritarian,3.47

Since we have Freedom in the World as a _score_, let's rename it:

In [426]:
freedom.rename(columns={'World':'World_Score'},inplace=True)

### The Contents

The plan at this stage is:

1. Do preventive cleaning in text cell: get rid of trailing/leading spaces in cells with strings.
2. Verify the levels of categorical values have no misstypings
3. Check what is causing that numeric data columns are interpreted in a differen way.

Let's do the first step:

In [427]:
# all the text cell are in this columns: freedom.iloc[:,0::2]

freedom.iloc[:,0::2]=freedom.iloc[:,0::2].apply(lambda x:x.str.strip())

Let's do the second one:

In [428]:
# just an exploration.
freedom.iloc[:,2::2].apply(lambda x: pd.unique(x)).values

array([array(['mostly free', 'free', nan, 'moderately free', 'mostly unfree',
              'repressed'], dtype=object)                                    ,
       array(['good', 'satisfactory', nan, 'problematic', 'difficult',
              'very serious'], dtype=object)                          ,
       array(['full democracy', nan, 'flawed democracy', 'hybrid regime',
              'authoritarian'], dtype=object)                            ],
      dtype=object)

The categories are well written.

Let's do the third step; here, we see how the numeric columns are identified:

In [429]:
freedom.iloc[:,1::2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   World_Score      196 non-null    float64
 1   Economic_Score   197 non-null    object
 2   Press_Score      197 non-null    object
 3   Democracy_Score  197 non-null    object
dtypes: float64(1), object(3)
memory usage: 6.3+ KB

Let's check why some column scores are "object":

In [430]:
# show me the cells that do not resemble numeric as xx.xx:
freedom.iloc[:,3::2].apply(lambda x: pd.unique(x[~x.str.contains(r'^\d+.*\d*$')]))

  Economic_Score Press_Score Democracy_Score
0              —           —               —

I am showing what inappropriate symbol is present in each column. 
Imagine you had more wrong values:

In [431]:
# instead of
freedom.loc[0,'Economic_Score']

'76.3'

In [432]:
# this
freedom.loc[0,'Economic_Score']='X'

You would get this:

In [433]:
freedom.iloc[:,3::2].apply(lambda x: pd.unique(x[~x.str.contains(r'^\d+.*\d*$')]))

Economic_Score     [X, —]
Press_Score           [—]
Democracy_Score       [—]
dtype: object

Then, the general way to recover this values could be:

In [434]:
import numpy as np

set(np.concatenate(freedom.iloc[:,3::2].apply(lambda x: pd.unique(x[~x.str.contains(r'^\d+.*\d*$')])).values))

{'X', '—'}

Let me undo the change:

In [435]:
freedom.loc[0,'Economic_Score']='76.3'

Let's continue.

Those characters are used to show missing values. We need to get rid of them in a **proper way**:

* Identify the character:

In [436]:
badSymbols=set(freedom.iloc[:,3::2].apply(lambda x: pd.unique(x[~x.str.contains(r'^\d+.*\d*$')])).values.flatten())

* Replace those by missing values:

In [437]:

freedom.iloc[:,3::2]=freedom.iloc[:,3::2].replace({badSymbol:None})

* If needed, keep complete data:

In [438]:
freedom.dropna(how='any', ignore_index=True, inplace=True)

# Time to format the data

When formatting data we pay attention to the data contents.
The data contents are clean, but not yet formatted:

In [439]:
freedom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          159 non-null    object
 1   World_Score      159 non-null    float64
 2   Economic         159 non-null    object
 3   Economic_Score   159 non-null    object
 4   Press            159 non-null    object
 5   Press_Score      159 non-null    object
 6   Democracy        159 non-null    object
 7   Democracy_Score  159 non-null    object
dtypes: float64(1), object(7)
memory usage: 10.1+ KB

## Formatting numerical values


Let's format the numeric data using **pd.to_numeric**. 

Remember this:

In [440]:
# gives an error
# pd.to_numeric(pd.Series(['1','2','$3']),errors='raise')

In [441]:
# bad values to missing
pd.to_numeric(pd.Series(['1','2','$3']),errors='coerce')

0    1.0
1    2.0
2    NaN
dtype: float64

In [442]:
# bad values stay
pd.to_numeric(pd.Series(['1','2','$3']),errors='ignore')

0     1
1     2
2    $3
dtype: object

You should not coerce, because you can be deleting good values which are poorly written. Then,

In [443]:
freedom[freedom.columns[3::2]]=freedom.iloc[:,3::2].apply(lambda x: pd.to_numeric(x,errors='raise'))

freedom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          159 non-null    object
 1   World_Score      159 non-null    float64
 2   Economic         159 non-null    object
 3   Economic_Score   159 non-null    float64
 4   Press            159 non-null    object
 5   Press_Score      159 non-null    float64
 6   Democracy        159 non-null    object
 7   Democracy_Score  159 non-null    float64
dtypes: float64(4), object(4)
memory usage: 10.1+ KB

Great! - the formatting did not abort.

## Formatting the categories

Our categories are ordinal:

In [444]:
freedom.iloc[:,2::2].apply(lambda x: pd.unique(x)).values

array([array(['mostly free', 'free', 'moderately free', 'repressed',
              'mostly unfree'], dtype=object)                       ,
       array(['good', 'satisfactory', 'problematic', 'difficult', 'very serious'],
             dtype=object)                                                        ,
       array(['full democracy', 'flawed democracy', 'hybrid regime',
              'authoritarian'], dtype=object)                       ],
      dtype=object)

The plan is:

1. Use integers instead of text, if labels are not the same. Use same values for max and min.
2. Notice all scores have categories in another column, except 'World_Score'. Create his column of categories as integers.
3. Create alternative columns, where you can write labels, but include numbers in the labels.

This solves the first case:

In [445]:
# maps for replacement: 1 the worst / 5 the best
mapper1 = {'repressed':1, 'mostly unfree':2,'moderately free':3, 'mostly free':4, 'free':5}
mapper2 = {'very serious':1, 'difficult':2,'problematic':3,'satisfactory':4,'good':5}
mapper3 = {'authoritarian':1,'hybrid regime':2,'flawed democracy':4, 'full democracy':5}


freedom.Economic.replace(mapper1,inplace=True)
freedom.Press.replace(mapper2,inplace=True)
freedom.Democracy.replace(mapper3,inplace=True)

For the second case we can CUT the variable with qcut:

In [446]:
# from the methodology, the index has 3 levels, we use that:
freedom['World']=pd.qcut(freedom.World_Score, 3, labels=False)
freedom.World.value_counts(sort=False)

World
2    51
1    55
0    53
Name: count, dtype: int64

In [447]:
# to standardize
freedom.World.replace({0:1,1:3,2:5},inplace=True)

In [448]:
# currently:
freedom.head()

,Country,World_Score,Economic,Economic_Score,Press,Press_Score,Democracy,Democracy_Score,World
0,Finland,100.0,4,76.3,5,87.94,5,9.30,5
1,New Zealand,99.0,4,77.8,4,84.23,5,9.61,5
2,Sweden,99.0,4,77.5,5,88.15,5,9.39,5
3,Norway,98.0,4,77.5,5,95.18,5,9.81,5
4,Canada,97.0,4,72.4,4,83.53,5,8.69,5

In [449]:
freedom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          159 non-null    object
 1   World_Score      159 non-null    float64
 2   Economic         159 non-null    int64
 3   Economic_Score   159 non-null    float64
 4   Press            159 non-null    int64
 5   Press_Score      159 non-null    float64
 6   Democracy        159 non-null    int64
 7   Democracy_Score  159 non-null    float64
 8   World            159 non-null    int64
dtypes: float64(4), int64(4), object(1)
memory usage: 11.3+ KB

Let me put the last variable in a better location:

In [450]:
# just a trick
freedom=freedom.set_index(['Country','World']).reset_index(drop=False)
freedom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          159 non-null    object
 1   World            159 non-null    int64
 2   World_Score      159 non-null    float64
 3   Economic         159 non-null    int64
 4   Economic_Score   159 non-null    float64
 5   Press            159 non-null    int64
 6   Press_Score      159 non-null    float64
 7   Democracy        159 non-null    int64
 8   Democracy_Score  159 non-null    float64
dtypes: float64(4), int64(4), object(1)
memory usage: 11.3+ KB

This is the last step:

In [451]:
# new column names
newNames=freedom.columns[1::2]+'_Cat'
newNames

Index(['World_Cat', 'Economic_Cat', 'Press_Cat', 'Democracy_Cat'], dtype='object')

In [452]:
# copy the previous values
freedom[newNames]=freedom.iloc[:,1::2]
freedom

,Country,World,World_Score,Economic,Economic_Score,Press,Press_Score,Democracy,Democracy_Score,World_Cat,Economic_Cat,Press_Cat,Democracy_Cat
0,Finland,5,100.0,4,76.3,5,87.94,5,9.30,5,4,5,5
1,New Zealand,5,99.0,4,77.8,4,84.23,5,9.61,5,4,4,5
2,Sweden,5,99.0,4,77.5,5,88.15,5,9.39,5,4,5,5
3,Norway,5,98.0,4,77.5,5,95.18,5,9.81,5,4,5,5
4,Canada,5,97.0,4,72.4,4,83.53,5,8.69,5,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Equatorial Guinea,1,5.0,1,47.7,2,50.35,1,1.92,1,1,2,1
155,Tajikistan,1,5.0,2,51.3,1,39.06,1,1.94,1,2,1,1
156,Eritrea,1,3.0,1,39.5,1,27.86,1,1.97,1,1,1,1
157,North Korea,1,3.0,1,2.9,1,21.72,1,1.08,1,1,1,1
158,Turkmenistan,1,2.0,1,46.3,1,25.82,1,1.66,1,1,1,1

In [453]:
# create the data type info
from pandas.api.types import CategoricalDtype
myOrdinal = CategoricalDtype(categories=[1,2,3,4,5], ordered=True)

#one column
freedom.loc[:,"World_Cat"].astype(myOrdinal)

0      5
1      5
2      5
3      5
4      5
      ..
154    1
155    1
156    1
157    1
158    1
Name: World_Cat, Length: 159, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [454]:
# several columns
freedom.loc[:,"World_Cat":]=freedom.loc[:,"World_Cat":].astype(myOrdinal)
freedom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          159 non-null    object
 1   World            159 non-null    int64
 2   World_Score      159 non-null    float64
 3   Economic         159 non-null    int64
 4   Economic_Score   159 non-null    float64
 5   Press            159 non-null    int64
 6   Press_Score      159 non-null    float64
 7   Democracy        159 non-null    int64
 8   Democracy_Score  159 non-null    float64
 9   World_Cat        159 non-null    category
 10  Economic_Cat     159 non-null    category
 11  Press_Cat        159 non-null    category
 12  Democracy_Cat    159 non-null    category
dtypes: category(4), float64(4), int64(4), object(1)
memory usage: 12.8+ KB

Finally, rename the labels:

In [455]:
# rename the levels

ordinalLevels={1:'1_veryLow',2:'2_low',3:'3_medium',4:'4_good',5:'5_veryGood'}

renameLevels= lambda x:x.cat.rename_categories(ordinalLevels)

freedom.loc[:,"World_Cat":]=freedom.loc[:,"World_Cat":].apply(renameLevels)

The final result:

In [456]:
freedom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          159 non-null    object
 1   World            159 non-null    int64
 2   World_Score      159 non-null    float64
 3   Economic         159 non-null    int64
 4   Economic_Score   159 non-null    float64
 5   Press            159 non-null    int64
 6   Press_Score      159 non-null    float64
 7   Democracy        159 non-null    int64
 8   Democracy_Score  159 non-null    float64
 9   World_Cat        159 non-null    category
 10  Economic_Cat     159 non-null    category
 11  Press_Cat        159 non-null    category
 12  Democracy_Cat    159 non-null    category
dtypes: category(4), float64(4), int64(4), object(1)
memory usage: 12.8+ KB

In [457]:
freedom.head()

,Country,World,World_Score,Economic,Economic_Score,Press,Press_Score,Democracy,Democracy_Score,World_Cat,Economic_Cat,Press_Cat,Democracy_Cat
0,Finland,5,100.0,4,76.3,5,87.94,5,9.30,5_veryGood,4_good,5_veryGood,5_veryGood
1,New Zealand,5,99.0,4,77.8,4,84.23,5,9.61,5_veryGood,4_good,4_good,5_veryGood
2,Sweden,5,99.0,4,77.5,5,88.15,5,9.39,5_veryGood,4_good,5_veryGood,5_veryGood
3,Norway,5,98.0,4,77.5,5,95.18,5,9.81,5_veryGood,4_good,5_veryGood,5_veryGood
4,Canada,5,97.0,4,72.4,4,83.53,5,8.69,5_veryGood,4_good,4_good,5_veryGood

We did not have dates in this data file, so let me check another case.

## Formatting Dates

Let me get the data about [Fire 9-1-1  calls  from Seattle](https://dev.socrata.com/foundry/data.seattle.gov/kzjm-xkqj) we saw in the first week:

In [458]:
import requests

# where is it online?
url = "https://data.seattle.gov/resource/kzjm-xkqj.json"

# Go for the data:
response = requests.get(url)

# If we got the data:
if response.status_code == 200:
    data911 = response.json()

In [459]:
# data911

In [460]:
# You can turn it easily into a pandas data frame:
import pandas as pd
data911DF=pd.DataFrame(data911)

In [461]:
data911DF.head()

,address,type,datetime,latitude,longitude,report_location,incident_number,:@computed_region_ru88_fbhk,:@computed_region_kuhn_3gp2,:@computed_region_q256_3sug,:@computed_region_2day_rhn5,:@computed_region_cyqu_gs94
0,4416 S Brandon St,Aid Response,2024-10-04T10:08:00.000,47.553402,-122.279146,"{'type': 'Point', 'coordinates': [-122.279146,...",F240137234,11,43,18800,NaN,NaN
1,4TH AVE / JEFFERSON ST,Aid Response,2024-10-04T09:58:00.000,47.60252,-122.329645,"{'type': 'Point', 'coordinates': [-122.329645,...",F240137232,14,22,18379,NaN,NaN
2,111 Cedar St,Medic Response,2024-10-04T09:56:00.000,47.615877,-122.35052,"{'type': 'Point', 'coordinates': [-122.35052, ...",F240137231,5,9,19576,NaN,NaN
3,3801 34th Ave W,Aid Response,2024-10-04T09:55:00.000,47.654056,-122.400899,"{'type': 'Point', 'coordinates': [-122.400899,...",F240137230,33,27,18235,NaN,NaN
4,118 Ne 45th St,Aid Response,2024-10-04T09:49:00.000,47.661359,-122.328075,"{'type': 'Point', 'coordinates': [-122.328075,...",F240137229,61,3,18383,NaN,NaN

In [462]:
data911DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      1000 non-null   object
 1   type                         1000 non-null   object
 2   datetime                     1000 non-null   object
 3   latitude                     999 non-null    object
 4   longitude                    999 non-null    object
 5   report_location              999 non-null    object
 6   incident_number              1000 non-null   object
 7   :@computed_region_ru88_fbhk  994 non-null    object
 8   :@computed_region_kuhn_3gp2  994 non-null    object
 9   :@computed_region_q256_3sug  999 non-null    object
 10  :@computed_region_2day_rhn5  76 non-null     object
 11  :@computed_region_cyqu_gs94  71 non-null     object
dtypes: object(12)
memory usage: 93.9+ KB

As you see, the datetime is not recognized as date:

In [463]:
data911DF.datetime

0      2024-10-04T10:08:00.000
1      2024-10-04T09:58:00.000
2      2024-10-04T09:56:00.000
3      2024-10-04T09:55:00.000
4      2024-10-04T09:49:00.000
                ...
995    2024-10-01T16:39:00.000
996    2024-10-01T16:37:00.000
997    2024-10-01T16:36:00.000
998    2024-10-01T16:35:00.000
999    2024-10-01T16:30:00.000
Name: datetime, Length: 1000, dtype: object

In [464]:
data911DF.datetime[0]

'2024-10-04T10:08:00.000'

In [465]:
#check
pd.to_datetime(data911DF.datetime)

0     2024-10-04 10:08:00
1     2024-10-04 09:58:00
2     2024-10-04 09:56:00
3     2024-10-04 09:55:00
4     2024-10-04 09:49:00
              ...
995   2024-10-01 16:39:00
996   2024-10-01 16:37:00
997   2024-10-01 16:36:00
998   2024-10-01 16:35:00
999   2024-10-01 16:30:00
Name: datetime, Length: 1000, dtype: datetime64[ns]

In [466]:
# then,
data911DF['datetime']=pd.to_datetime(data911DF.datetime)
data911DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      1000 non-null   object
 1   type                         1000 non-null   object
 2   datetime                     1000 non-null   datetime64[ns]
 3   latitude                     999 non-null    object
 4   longitude                    999 non-null    object
 5   report_location              999 non-null    object
 6   incident_number              1000 non-null   object
 7   :@computed_region_ru88_fbhk  994 non-null    object
 8   :@computed_region_kuhn_3gp2  994 non-null    object
 9   :@computed_region_q256_3sug  999 non-null    object
 10  :@computed_region_2day_rhn5  76 non-null     object
 11  :@computed_region_cyqu_gs94  71 non-null     object
dtypes: datetime64[ns](1), object(11)
memory usage: 93.9+ KB

In [469]:
data911DF=data911DF.iloc[:,:7]

In [470]:
data911DF['date']=data911DF.datetime.dt.date
data911DF['year']=data911DF.datetime.dt.year
data911DF['month']=data911DF.datetime.dt.month_name()
data911DF['weekday']=data911DF.datetime.dt.day_name()
data911DF['hour']=data911DF.datetime.dt.hour

In [471]:
data911DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          1000 non-null   object
 1   type             1000 non-null   object
 2   datetime         1000 non-null   datetime64[ns]
 3   latitude         999 non-null    object
 4   longitude        999 non-null    object
 5   report_location  999 non-null    object
 6   incident_number  1000 non-null   object
 7   date             1000 non-null   object
 8   year             1000 non-null   int32
 9   month            1000 non-null   object
 10  weekday          1000 non-null   object
 11  hour             1000 non-null   int32
dtypes: datetime64[ns](1), int32(2), object(9)
memory usage: 86.1+ KB

In [472]:
data911DF.head()

,address,type,datetime,latitude,longitude,report_location,incident_number,date,year,month,weekday,hour
0,4416 S Brandon St,Aid Response,2024-10-04 10:08:00,47.553402,-122.279146,"{'type': 'Point', 'coordinates': [-122.279146,...",F240137234,2024-10-04,2024,October,Friday,10
1,4TH AVE / JEFFERSON ST,Aid Response,2024-10-04 09:58:00,47.60252,-122.329645,"{'type': 'Point', 'coordinates': [-122.329645,...",F240137232,2024-10-04,2024,October,Friday,9
2,111 Cedar St,Medic Response,2024-10-04 09:56:00,47.615877,-122.35052,"{'type': 'Point', 'coordinates': [-122.35052, ...",F240137231,2024-10-04,2024,October,Friday,9
3,3801 34th Ave W,Aid Response,2024-10-04 09:55:00,47.654056,-122.400899,"{'type': 'Point', 'coordinates': [-122.400899,...",F240137230,2024-10-04,2024,October,Friday,9
4,118 Ne 45th St,Aid Response,2024-10-04 09:49:00,47.661359,-122.328075,"{'type': 'Point', 'coordinates': [-122.328075,...",F240137229,2024-10-04,2024,October,Friday,9

In [483]:
data911DF['date']=pd.to_datetime(data911DF.date,format='%Y-%m-%d')
data911DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          1000 non-null   object
 1   type             1000 non-null   object
 2   datetime         1000 non-null   datetime64[ns]
 3   latitude         999 non-null    object
 4   longitude        999 non-null    object
 5   report_location  999 non-null    object
 6   incident_number  1000 non-null   object
 7   date             1000 non-null   datetime64[ns]
 8   year             1000 non-null   int32
 9   month            1000 non-null   object
 10  weekday          1000 non-null   object
 11  hour             1000 non-null   int32
dtypes: datetime64[ns](2), int32(2), object(8)
memory usage: 86.1+ KB

In [488]:
dates=['20241210','20241012']
pd.to_datetime(pd.Series(dates),format='%Y%m%d')

0   2024-12-10
1   2024-10-12
dtype: datetime64[ns]

In [493]:
dates=['2024/12/10','2024/10/12']
pd.to_datetime(pd.Series(dates),format='%Y/%m/%d')

0   2024-12-10
1   2024-10-12
dtype: datetime64[ns]

In [494]:
dates=['12nov2023','11dec2023']
pd.to_datetime(pd.Series(dates),format='%d%b%Y')

0   2023-11-12
1   2023-12-11
dtype: datetime64[ns]

In [495]:
dates=['NOVEMBER122023','DECEMBER112023']
pd.to_datetime(pd.Series(dates),format='%B%d%Y')

0   2023-11-12
1   2023-12-11
dtype: datetime64[ns]

In [496]:
dates=['NOVEMBER 12,2023','DECEMBER 11,2023']
pd.to_datetime(pd.Series(dates),format='%B %d,%Y')

0   2023-11-12
1   2023-12-11
dtype: datetime64[ns]